.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Gilroy", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 816px;
  position: relative;
}

.logo {
  width: 39px;
  height: 41px;
}

.header__navigation {
  width: 90%;
  max-width: 1256px;
  height: 116px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
}

.header__menu {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 22px;
}

.header__link-search {
  box-sizing: border-box;
  padding: 11px 0;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  text-align: center;
  width: 150px;
  height: 44px;
  color: #F7941E;
  border: 1px solid #F7941E;
  box-sizing: border-box;
  border-radius: 5px;
}

.header__hero-side {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F1F1F2;
  z-index: 0;
}

.header__hero-side::before {
  content: "";
  width: 100%;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.1);
}

.header__title {
  position: absolute;
  width: 433px;
  height: 206px;
  left: 162px;
  top: 154px;

  font-size: 56px;
  line-height: 69px;

  color: #000000;
}

.header__subtitle {
  position: absolute;
  width: 422px;
  height: 57px;
  left: 162px;
  top: 396px;

  font-size: 20px;
  line-height: 140.62%;
  /* or 28px */

  color: #000000;
}

.header__link-search_bg-orange {
  position: absolute;
  left: 162px;
  top: 505px;
  background: #F7941E;
  border-radius: 5px;
  color: #fff;
}

.header__image {
  z-index: -1;
  width: 719px;
  height: 700px;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* FEATURE-SPLIT*/

.feature-split {
  box-sizing: border-box;
  min-height: 600px;
  height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: #F1F1F2;
}

.feature-split::before {
  content: "";
  height: 600px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.feature-split__content {
  position: absolute;
  top: 164px;
  right: 166px;
  max-width: 441px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-split__title {
  font-size: 32px;
  line-height: 140.62%;
  /* identical to box height, or 45px */
  margin: 0;
  margin-bottom: 23px;
  color: #000000;
}

.feature-split__subtitle {
  font-size: 20px;
  line-height: 140.62%;
  /* or 28px */
  text-align: justify;
  margin: 0;
  margin-bottom: 35px;
  color: #000000;
}

.feature-split__link {
  font-size: 18px;
  line-height: 24,26px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 14px 23px;
  color:  #F7941E;


  border: 1px solid #F7941E;
  box-sizing: border-box;
  border-radius: 5px;
}

.feature-split__image {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
  width: 733.15px;
  height: 618.6px;
  z-index: -1;
}

/*POSTS TALL*/

.posts-tall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 820px;
  box-sizing: border-box;
  padding: 96px 0 137px 0;
}

.posts-tall__title {
  font-size: 32px;
  line-height: 38,4px;
  margin: 0 auto 23px auto;
}

.posts-tall__subtitle {
  font-size: 18px;
  line-height: 135.94%;
  margin: 0 auto 64px auto;
}

.posts-tall__cards {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

.posts-tall__card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 270px;
  height: 436px;
  background-color: #F1F1F2;
}

.posts-tall__card:last-of-type {
  margin-right: 0;
}

.posts-tall__card-title {
  font-size: 20px;
  line-height: 24px;
  margin: 24px 24px 74px 24px;
}

.posts-tall__card-link {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #000;
  margin: 0 0 24px 24px;
}

.posts-tall__card-img {
  order: -1;
  width: 270px;
  height: 270px;
}

/* CTA */

.cta {
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #F7941E;

}

.cta__content {
  margin: 0 auto;
  width: 75%;
  position: relative;
}

.cta__title {
  font-size: 32px;
  line-height: 140.62%;
  margin: 0;
}

.cta__subtitle {
  font-size: 32px;
  line-height: 140.62%;
  margin: 0;
}

.cta__link {
  position: absolute;
  top: 25%;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 15px 25px;
  border-radius: 5px;
}

.cta__link-find {
  right: 216px;
  color: #fff;
  background-color: #000;
}

.cta__link-how {
  right: 1px;
  border: 1px solid #000;
}
